[run]
omit =
    */migrations/*
    */test/*
    */validation/*
    */docs/*
    */docker/*
    */.venv/*
    */manage.py
[report]
format=total
[html]
directory = ../docs/build/html/pytest/cov
show_contexts=True
skip_empty=True
