{% extends "web/bases/base_detail.html" %}

{% load i18n %}

{% block title %}
    {% translate "Mailinglist Details" %} -
{% endblock title %}

{% block badges %}

    {% include "web/partials/_favorite_badge.html" %}

{% endblock badges %}

{% block card_title %}
    {{ object.list_id }}
{% endblock card_title %}

{% block card_subtitle %}
    {{ object.list_owner }}
{% endblock card_subtitle %}

{% block card_content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {% translate "Subscribe" %}: <a href="mailto:{{ object.list_subscribe }}"
    class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.list_subscribe }}</a>
        </li>
        <li class="list-group-item">
            {% translate "Unsubscribe" %}: <a href="mailto:{{ object.list_unsubscribe }}"
    class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.list_unsubscribe }}</a>
        </li>
        <li class="list-group-item">
            {% translate "Post" %}: <a href="mailto:{{ object.list_post }}"
    class="link-info link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ object.list_post }}</a>
        </li>
        <li class="list-group-item">{% translate "Archive" %}: {{ object.list_archive }}</li>
        <li class="list-group-item">{% translate "Help" %}: {{ object.list_help }}</li>
    </ul>
{% endblock card_content %}


{% block card_extras %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% translate "Emails" %}</h4>

            {% include "web/email/partials/_email_list.html" with emails=object.emails.all %}

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% translate "Correspondents" %}</h4>

            {% include "web/correspondent/partials/_correspondent_list.html" with correspondents=object.emails.correspondents.all.distinct %}

        </div>
    </div>
{% endblock card_extras %}
