{% extends "web/base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Daemon Details" %} -
{% endblock title %}

{% block content %}

    {% include "web/daemon/partials/_start-alert.html" %}

    {% include "web/daemon/partials/_stop-alert.html" %}

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>

                {% include "web/daemon/partials/_is_running-badge.html" %}

                {% include "web/partials/_health_badge.html" %}

            </div>
            <div class="btn-toolbar align-items-center"
                 role="toolbar"
                 aria-label="Toolbar with buttons">
                <div class="btn-group me-3" role="group" aria-label="Action button group">

                    {% include "web/daemon/partials/_start-button.html" %}

                    {% include "web/daemon/partials/_stop-button.html" %}

                    {% include "web/daemon/partials/_download_logs-button.html" %}

                </div>
                <div class="btn-group me-3" role="group" aria-label="Edit button group">

                    {% include "web/partials/_delete-button.html" %}

                    {% include "web/partials/_edit-button.html" %}

                </div>
                <div class="btn-group ms-3" role="group" aria-label="Close button group">

                    {% include "web/partials/_close_to_list-button.html" %}

                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ object.uuid }}</h2>
            <h3 class="card-subtitle">
                {% translate "Mailbox" %}: <a href="{{ object.mailbox.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{
            object.mailbox.name }}</a>
            <br>
            {% translate "Account" %}: <a href="{{ object.mailbox.account.get_absolute_url }}"
    class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{
        object.mailbox.account.mail_address }}</a>
    </h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% translate "Criterion" %}: {{ object.fetching_criterion }}</li>
        <li class="list-group-item">{% translate "Cycle period" %}: {{ object.cycle_interval }}</li>
        <li class="list-group-item">{% translate "Restart time" %}: {{ object.restart_time }}</li>
        <li class="list-group-item">{% translate "Logfile backups" %}: {{ object.log_backup_count }}</li>
        <li class="list-group-item">
            {% translate "Logfile max size" %}: {{ object.logfile_size }} bytes
        </li>
    </ul>
</div>

{% include "web/partials/_dates_card-footer.html" %}

</div>

{% include "web/partials/_delete-modal.html" %}

{% endblock content %}
