{% extends "web/email/email_filter_list.html" %}

{% load translate from i18n %}

{% block header_subtitle %}
    {% translate "in" %} <a class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
    href="{{ account.get_absolute_url }}">{{ account.mail_address }}</a>
{% endblock header_subtitle %}

{% block header_buttons %}

    <a role="button"
       class="btn btn-outline-primary"
       href="{% url 'web:account-emails-table' account.id %}"><i class="fa-solid fa-table-list" aria-hidden="true"></i> {% translate "Table" %}</a>

{% endblock header_buttons %}
