<a href="{{ account.get_absolute_url }}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">

                {% include "partials/_health_badge.html" with object=account %}

                {{ account.mail_address }}

                {% include "partials/_favorite_badge.html" with object=account %}

            </h5>

            <div class="card-text">Protocol: {{ account.protocol }}</div>

            {% include "partials/_dates_card-small.html" with object=account %}

        </div>
    </div>
</a>
