{% extends "web/layouts/base_detail_editable.html" %}

{% load bootstrap_form_errors from django_bootstrap5 %}

{% block edit_buttons %}

    {% include "web/partials/_end_edit-button.html" %}

{% endblock edit_buttons %}


{% block card_content %}
    <form method="post" class="py-2">
        {% csrf_token %}

        {% block form %}
            {% bootstrap_form_errors form type='non_fields' %}
        {% endblock form %}


        {% include "web/partials/_submit_form-button.html" %}

        {% include "web/partials/_cancel_edit-button.html" %}

        {% block extra_form_buttons %}
        {% endblock extra_form_buttons %}

    </form>
{% endblock card_content %}
