build_docs:
  stage: docs
  dependencies:
    - check
    - test
  only:
    - tags
  script:
    - echo "Building docs ..."
    - poetry install --with=docs
    - cd $DOCS_PATH
    - poetry run make source
    - poetry run make html
    - poetry run make epub
    - echo "Successfully built docs."
    - echo "Releasing docs ..."
    - echo "Nowhere to release at the moment."
    - echo "Successfully released docs."
  artifacts:
    paths:
      - '$DOCS_PATH"build"'
    expire_in: 30 days
